@media (min-width:1000px) and (max-width:1520px){
/* header */
    .left{
        /* border: solid; */
        margin-top: 1rem;
        
    }
    .h-content{
        width: 45vw;
        /* border: solid; */
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        position: relative;
        left: -2rem;
    }
    .h-content>h5{
        position: relative;
        font-size: 1.9rem;
        left:-4px;
    }
    .h-content>h2{
        font-size: 2rem;
    }
    .head-list li
    {
        /* border: solid; */
        font-size: 1rem;
        position: relative;
        left: -6rem;
        
    }
    .button{
       width: 7rem;
       height: 2.5rem;
       font-size: 14px;
       position: relative;
       left: -10.2rem;
       

    }
    .right>img{
        width: 30vw;
        height: 40vh;
        /* border: solid; */
        position: relative;
        top:1rem
    
    }
}
@media (min-width:600px) and (max-width:850px)
{
    /* .header */
    .header{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: fit-content;
        border: solid;
        height: 90vh;
        
       
        
    }
    .left{
        /* border: solid; */
        margin-top: 1rem;
        height: 50vh;
        width: 90vw;
        position: relative;
        left:-0.8rem;
        top:-3rem;
        
    }
    .h-content{
        height: 50vh;
        width: 45vw;
        /* border: solid; */
      
    }
    .h-content>h5{
        position: relative;
       
        
    }
    .h-content>h2{
        
    }
    .head-list li
    {
        /* border: solid; */
        font-size: 1rem;
        position: relative;
       
        
    }
    .button{
       width: 7rem;
       height: 2rem;
      
       font-size: 14px;
      
       

    }
    .right>img{
        width: 30vw;
        height: 30vh;
        /* border: solid; */
        position: relative;
        top:-1rem;
        left:1.6rem;
    
    }

    /* section2 */
    .title1
    {
        border: solid;
        width: auto;
    }
    .title1>:nth-child(1){
      
        font-size: 25px;
    
    }
   

}
@media only  screen and (max-width:599px){
    /* .header */
    .header{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
       
        
    }
    .left{
        /* border: solid; */
        margin-top: 1rem;
        height: 50vh;
        width: 100vw;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        left:0rem;
        top:-3rem;
        
    }
    .h-content{
        height: 50vh;
        width: 60vw;
        /* border: solid; */
        left: 1rem;
      
    }
    .h-content>h5{
        
        font-size: 18px;
       
        
    }
    .h-content>h2{
        font-size: 18px;
        
    }
    .head-list li
    {
        /* border: solid; */
        font-size: 1rem;
        position: relative;
       
        
    }
    .button{
       width: 7rem;
       height: 2rem;
      
       font-size: 14px;
      
       

    }
    .right>img{
        width: 45vw;
        height: 25vh;
        /* border: solid; */
        position: relative;
        top:-1rem;
        
        
    
    }
    .title1>:nth-child(1){
      
        font-size: 17px;
    
    }
    .title1>:nth-child(2){
        width: 90vw;
        font-size: 13px;
        /* border:solid; */
        display: flex;
        justify-content: center;
        align-items: center;

    
    }
    .title1>:nth-child(3){
        /* border: solid; */
        font-size: 13px;
        width: 90vw;
    
    }
}
/* bootstrap sec3cards */
@media (min-width:576px) and (max-width:767px)
{

.sec2clist li
{
/* border: solid; */
width: 50vw;

}
.sec2clist>li>img
{
    
    width: 34px;
    height: 34px;
}
.sec2clist>li>p{
    font-size: 1.3rem;
}
.car1{
    /* border: solid; */
    height: 80vh;
}
.sec3inner{
    /* border: solid; */
    width: 60vw ;
 
}
.sec3headdata
{
    /* border: solid; */
    width: 60vw;
    
}
.sec3headdata img{
    width: 80px;
    height: 80px;

}
.sec3headdata>:nth-child(2){
    font-size: 45px;
   
}
.sec3cardhead{
    /* border: solid; */
    width:60vw ;
}
.sec3cardhead>p{
    font-size: 45px;
}
.descriptionsec2{
    width:60vw;
    /* border: solid; */
}
.descriptionsec2 > p{
    font-size: 25px;

}
.sec2clist{
    /* border: solid; */
    width: 60vw;
}
.cardfooter
{
    /* border: solid; */
    width: 60vw;
}
.cardfooter h3{
    font-size: 35px;
}
.sec2cbtn>button{
    height: 5vh;
    width: 30vw;
    font-size: 24px;
}
.container{
    border: solid;
}

}

@media only screen and (max-width:575px)
{

.sec2clist li
{
/* border: solid; */
width: 63vw;
position: relative;


}
.sec2clist>li>img
{
    
    width: 28px;
    height: 28px;
}
.sec2clist>li>p{
    font-size: 1rem;
}
.car1{
    /* border: solid; */
    height: 90vh;
}
.sec3inner{
    /* border: solid; */
    width: 63vw ;
   
 
}
.sec3headdata
{
    /* border: solid; */
    width: 60vw;
    height: fit-content;
    
}
.sec3headdata img{
    width: 60px;
    height: 60px;

}
.sec3headdata>:nth-child(2){
    font-size: 25px;
   
}
.sec3cardhead{
    /* border: solid; */
    width:60vw ;
}
.sec3cardhead>p{
    font-size: 25px;
}
.descriptionsec2{
    width:60vw;
    /* border: solid; */
}
.descriptionsec2 > p{
    font-size: 15px;

}
.sec2clist{
    /* border: solid; */
    width: 70vw;
}
.cardfooter
{
    /* border: solid; */
    width: 60vw;
}
.cardfooter h3{
    font-size: 20px;
}
.sec2cbtn>button{
    height: 4vh;
    width: 38vw;
    font-size: 14px;
}

}