@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100vw;
    /* border: 1px solid black; */

    background-image: url(./images/IMAGE.png);
    background-size: cover;
    background-repeat: inherit;
    height: 100vh;
    display: flex;


}

.left {
    /* border: solid; */
    width: 55vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 6rem;
    top: 4rem;
}

.h-content>h5 {

    font-weight: 300;
    color: #FFFFFF;
    font-size: 15px;
    /* color: #EAF3E0; */
}

.h-content {
    /* border: solid; */
    height: 50vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: relative;
    top: 3rem;
    /* border: solid; */

}

.h-content>h2 {
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    position: relative;
    top: -1.5rem;
    font-family: 'Roboto', sans-serif;
}
.head-list{
    /* border: solid; */
    position: relative;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   left:-2rem;
   list-style: none;
    height: inherit;
    top:-2.5rem;
    
    
}
.head-list li {
    /* border: solid; */
    font-size: 10px;
    color: #FFFFFF;
    list-style: none;
    position: relative;
    

}

.buttonf {
    background-color: #FF9800;
    font-size: 8px;
    width: 5rem;

   height: 6vh;
    position: relative;
    
    
    border: none;
    color: white;
    border-radius: 4px;
}
.buttonsec{
    /* border: solid; */
    position: relative;
     top:-1.6rem;
    width: 40vw;
    display: flex;
    justify-content: flex-start;
}

.head-list img {
    width: 12px;
}

.right {
    /* border: solid; */
    width: 40vw;
    display: flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.right>img {
    width: 25vw;
    height: 40vh;
    /* border: solid; */

}

.title1 {


    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

.title1>:nth-child(1) {
    color: #1A202C;
    font-weight: bold;
    font-size: 22px;

}

.title1>:nth-child(2) {
    font-size: 15px;
    padding-top: 0.4rem;
    font-weight: 100;
    color: #5B5858;
}

.title1>:nth-child(3) {
    font-size: 15px;
    position: relative;
    top: -1.3rem;
    /* border: solid; */
    font-weight: 100;
    color: #5B5858;
}

.cartsec {
    /* border: solid; */
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;

    height: 100vh;
}

.description-1 {

    width: 70vw;
    /* border: solid; */
    background-color: #FAFAFA;
    color: #B7B6B6;
    display: flex;
    justify-content: space-around;

}

.description-1>p {

    width: 66vw;

}

.sec6card2 {

    /* border: solid; */
    display: flex;

    align-items: center;
    justify-content: space-between;
    width: 70vw;
    margin-top: 1rem;
    height: 6vh;
    background-color: #FFFFFF;
    height: 7vh;

    border: 0.9px solid #F5F6FA;



}

.sec6card2>p {
    color: #1A202C;
} */


.cardrow {
    /* border: solid; */
    width: 90vw;
   
}

.car1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(93, 118, 174, 0.15);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
    height: 100vh;
    background: #FFFFFF;
    border-radius: 16px;
   
}

.Cart-head-image {

    width: 50px;
    height: 50px;

    top: 0rem;
    position: relative;


}

.sec3headdata>:nth-child(2) {

    font-size: 23px;
    position: relative;
    /* border: solid; */
    top: 1rem;
    height: 6vh;
    font-family: 'Roboto', sans-serif;



}


.sec3headdata {
    /* border: solid; */
    width: 17vw;
    display: flex;
    justify-content: space-between;
    
    position: relative;
    left: 0.4rem;
    height: 10vh;
    margin-top: -3.2rem;
}

.sec3cardhead {
    /* border: solid; */
    width: 18vw;
    height: 5vh;
    position: relative;
    left:0.4rem;
    top: 0.5rem;
}

.sec3cardhead p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    position: relative;


}

.descriptionsec2 {
    /* border: solid; */
    width: 16vw;
    position: relative;
    top: 1rem;
    left: 0.4rem;
}

.descriptionsec2>p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #6C757D;
}

.sec2clist {
    /* border: solid; */
    position: relative;
    top: 1.5rem;
    list-style: none;
    width: 18vw;
    left: 0.4rem;

}

.sec2clist li {
    position: relative;
    left: -2rem;
    display: flex;
    margin-top: 6px;
    height: 4.5vh;
    border: none;
    border-bottom: 1px solid #5B5858;
    width: 17vw;
    gap:1px;
}

.sec2clist>li>img {

    width: 16px;
    height: 16px;
}

.sec2clist>li>p {
    font-size: 10px;
    padding-right: 3px;
    font-family: 'Roboto', sans-serif;
    color: #6C757D;
}

.sec2clist>li>:nth-child(1) {
    padding-right: 2px;
}

.cardfooter {
    position: relative;
    top: 1.6rem;
    width: 17vw;
    /* border: solid; */
    left: 0.4rem;

}

.cardfooter h3 {
    font-size: 14px;
    color: #66C206;
}

.sec2cbtn {
    /* border: solid; */
    position: relative;
    top: 2.4rem;
    width: 17vw;
    left: 0.4rem;
}

.sec2cbtn>button {
    width: 17vw;
    height: 5vh;
    font-size: 12px;
    background-color: white;
    border: 1.2px solid #66C206;
    color: #66C206;
    border-radius: 4px;

}


.sec4start {
    margin-top: 2rem;
    background: #FAFAFA;
    /* border: solid; */
    margin-top: 4rem;
    width: 100%;
    padding-bottom: 8rem;


}

.sec4start h1 {
    /* border: solid; */

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.para1 {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0rem;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.sec4start>:nth-child(3) {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -0.5rem;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;


}

.cardsec4 {
    /* border: solid; */
    height: 33vh;
    background-color: #FFFFFF;
    border: 1px solid rgba(93, 118, 174, 0.15);
    border-radius: 4px;
    padding-top: 0.5rem;
    top: -1rem;
}

.sec4head {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid; */
    height: 10vh;
}



#sec4-card-p {
    padding-top: 1rem;
    color: #5B5858;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:500;


    font-size: 11px;
    font-family: 'Roboto', sans-serif;
}

.cardsec4 h4 {
    display: flex;
    justify-content: center;
    position: relative;
    top: 8px;
    /* border: solid; */
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
.sec4head>img{
   
    width: 34px;
}

.cardsec4>:nth-child(4) {
    position: relative;
    top: -1rem;
    font-size:11px;
    color: #5B5858;
    font-weight:500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}


.cardsec4>:nth-child(5) {
    position: relative;
    top: -2rem;
    font-size: 11px;
    color: #5B5858;
    font-weight:500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.hr{
    width: 10vw;

    position: relative;
    left: 2.8rem;
    top:-4.6rem;
   
    background-color: #66C206;
    
}
#btn-dot{
    /* border:solid;  */
    height:2vh; 
    width:1vw; border-radius:2rem; border: none; background-color:#F67A3C; 
}

.section5 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: solid; */
    position: relative;
   
    background-color: #66C206;
    position: relative;
    padding-top: 1.6rem;
    padding-bottom: 2rem;
}
.sec5left{
    /* border: solid; */
    margin-top: 1rem;
    width: 40vw;
    height: 50vh;
}
.sec5left h1{
    font-size: 24px;
    font-weight: bold;
    padding-top: 0rem;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-family: 'Urbanist', sans-seri
}
.sec5left>:nth-child(1){
    font-weight: lighter;
    font-family: 'Roboto';
    font-family: 'Urbanist', sans-seri
}

.sec5head {
    font-weight: lighter;
    padding-top: 1rem;
    /* border: solid; */
}
.sec5para{
    /* border: solid; */
    padding-top: 0rem;
    position: relative;
    top:0.8rem;
    font-size: 10px;
    font-family: 'Mulish', sans-serif;
    color:#FFFFFF;
}
.sec5left>:nth-child(5){
    /* border: solid; */
    position: relative;
    top:0rem;
    font-size: 10px;
    font-family: 'Mulish', sans-serif;
    color:#FFFFFF;

}
.sec5contact{
    padding:0.5rem;
    height: 12vh;
    position: relative;
    /* border: solid; */
    margin-top: -1rem;
    
   
}
.sec5contact li{
    
    font-family: 'Mulish';
    font-size: 1rem;
    list-style: none;
    
    
  
    /* font-weight: 400; */
}
.sec5contact>ul>:nth-child(2){
    padding-left: 1rem;
}
.sec5contact li img{
    width:12px;
    height: 12px;
    position: relative;
    left:-1.2rem;
}
.sec5contact li label{
    padding-left: 3px;
    font-size: 12px;
    position: relative;
    left:-1.2rem;
    color: #FFFFFF;
}
.sec5contact>ul {
    position: relative;
    left: -0.6rem;
    display: flex;
     
    /* border: solid; */
   


}

.sec5right{
    /* border: solid; */
    margin-top: -1rem;
   
}
.sec5vector1{
    width: 25vw;
    height: 50vh;
}
.section6 {
    margin-top: 1rem;
    display: flex;
    /* border: solid; */
    flex-direction: column;
   
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sec6head {
    /* border: solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;

}
.sec6head h2{
    /* border: solid; */
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: lighter;
    
}
.sec6head>:nth-child(2){
    /* border: solid; */
    display: flex;
    width: 60vw;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin-top: 0.6rem;
    width: 50vw;
}
.sec6head>:nth-child(3){
    /* border: solid; */
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin-top: -12px;
}


.section7{
    /* border: solid; */
  
    display:flex;
    margin-top: 7px;
    justify-content: space-around;
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
    background-color:#FAFAFA;
}
.contact-main{
    background-color: #66C206;
}
.sec7left{
    
    width: 30vw;
    height: 50vh;
    padding-top: 2rem;
    /* border: solid; */
}
.sec7left>h2{
    /* border: solid; */
    font-size: 20px;
    font-family: 'Roboto';
    font-size: 19px;
    
    font-style: normal;
    font-weight:lighter;
}
.sec7left>p{
    font-size: 10px;
    font-family: 'Roboto';
  
}
.btnend{
    width: 7vw;
    height: 5vh;
    font-size: 6px;
    background-color: #FFFFFF;
    border:1px solid #66C206;
    color: #66C206;
}
.sec7rightcart{
    width: 38vw;
    /* border: solid; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.sec7card1{
    /* border: solid; */
    width: 18vw;
    height: 35vh;
    padding-left: 0.7rem;
    padding-top:0.6rem ;
    background: #FFFFFF;
border: 1px solid rgba(93, 118, 174, 0.15);
border-radius: 20px;
   
}
.sec7card1>h4{
    font-size: 12px;
    font-family: 'Roboto';
    margin-top: 1rem;
}
.sec7card1>p{
    font-size: 6px;
    font-family: 'Roboto';
}
.user>img{
    width: 40px;
    height: 40px;
}
.greendot{
    background-color: #66C206;
    width: 17px;
    height: 17px;
    border-radius: 2rem;
    display:flex;
    justify-content: center;
    position: relative;
    top:-2.3rem;
    left:-0.3rem;
    color: #FFFFFF;
}
.name>h5{
    font-size: 10px;
    position: relative;
    top:-3rem;
    left: 2.6rem;
    font-family: 'Roboto';
}
.name>h6{
    font-size:10px;
    position: relative;
    top:-3.5rem;
    left:2.6rem;
    font-family: 'Roboto';
}
#lastcard{
   
    width: 38vw;
   display: flex;
   gap:10px;
    height: 50vh;

}

.cormedia{
    display: none;
}


.sec7cardmedia{
    width: 18vw;
    height: 35vh;
    padding-left: 0.7rem;
    padding-top:0.6rem ;
    background: #FFFFFF;
border: 1px solid rgba(93, 118, 174, 0.15);
border-radius: 20px;

}
#lastcardmedia{
    /* border: solid; */
}
.sec7cardmedia>h4{
    font-size: 15px;

}
.sec7cardmedia>p{
    font-size: 9px;
    /* border: solid; */

}
.mainusersecmeia{
    position: relative;
    left: 2rem;
}


